---
import '~/styles/base.css';

import { SITE } from '~/lib/config';

import Head from '~/layouts/Head.astro';
import Hero from '~/components/Hero.astro';
import Header from '~/components/header/Header.astro';
import Main from '~/components/main/Main.astro';

export interface Props {
  title: string;
  pageTitle: string;
  description: string;
  image?: string;
  next?: string;
  prev?: string;
  canonicalURL?: string;
  font_awesome?: boolean;
  site_map?: boolean;
  rss_feed?: boolean;
  hero?: boolean;
}

const { 
  title = Astro.props.content.title || SITE.title,
  pageTitle = Astro.props.content.pageTitle || Astro.props.content.title || SITE.title,
  description = Astro.props.content.description || SITE.description,
  canonicalURL = Astro.url,
  font_awesome = SITE.font_awesome,
  site_map = SITE.site_map,
  rss_feed = SITE.rss_feed,
  hero = Astro.props.content.hero || false,
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class='scroll-smooth'>
<Head 
  title={pageTitle}
  description={description}
  canonicalURL={canonicalURL}
  font_awesome={font_awesome}
  site_map={site_map}
  rss_feed={rss_feed} />

<body class="bg-white dark:bg-slate-900">
  <Header />
  {hero && (<Hero />)}
  <Main title={title} headings={Astro.props.headings}>
    <slot />
  </Main>  
</body>
</html>
